.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modal-body {
  padding: 2rem;
  width: 400px;
  height: 100px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.rename-input {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-btn {
  margin-top: 5px;
  margin-left: 5px;
  height: 30px;
  cursor: pointer;
}
